.git
.gitignore
.idea
.vscode
.fleet

.env
.env.*
!.env.example

vendor
node_modules
storage
bootstrap/cache
public/storage
public/hot
public/build

.phpunit.result.cache
.phpunit.cache
coverage
test-results
playwright-report

*.log
*.sqlite
debug_files*.json
Dockerfile*
